body{
	margin: 0px;
	background-image: url(https://www.nespresso.com/ncp/res/uploads/recipes/Nespresso_MakeFilms_Stills_Cappuccino.jpg);
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
}

.menus-capp{
	margin-right: 400px;
}

.menu-list{
	list-style-type: none;
	margin-top: 100px;
	list-style-type: none;
	margin-right: 80%;

}

.menu{
	color: white;
	font-size: 48px;

	transition: 0.5s;
	padding: 20px 0px 20px 0px;
	margin-right: 0px;
}

.menu:hover{
	color: #FF831C;
	text-decoration: none;
}

.coffee-title{
	text-align: center;
	color: white;
	margin: 10px;

}

